* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('pictures/Lake/IMG_6304.JPG'); /* Replace with your background image */
    background-size: cover;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6); /* Background color overlay */
    background-blend-mode: overlay; /* Options include multiply, overlay, screen, etc. */
}

/* Header container */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent header */
    color: rgba(255, 255, 255);
}

/* Navigation container */
.nav {
    display: flex;
}

.nav ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    margin-right: 20px; /* Space between links */
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Hover effect */
.nav a:hover {
    background-color: #555;
}

/* Logo styling */
.logo p {
    font-size: 1.5em;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height based on header */
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 80%;
    width: 100%
}

.about-text {
    flex: 1;
    max-width: 50%
}

.about h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.about-card {
    background-color: #2e3a4a; /* Dark card background */
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-card p {
    font-size: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-text, .profile-card {
        max-width: 100%; /* Full width on small screens */
    }
}